.sidebar{
    width:260px;
    height:100vh;
    background:#0f2d52;
    color:white;
    position:fixed;
    left:0;
    top:0;
    display:flex;
    flex-direction:column;
}

.sidebar h2{
    text-align:center;
    padding:25px 0;
    font-size:30px;
    border-bottom:1px solid rgba(255,255,255,.15);
}

.menu-item{
    padding:18px 25px;
    cursor:pointer;
    font-size:17px;
    transition:.25s;
}

.menu-item:hover{
    background:#18467e;
}

.menu-item.active{
    background:#1e5da8;
    font-weight:bold;
}